Test/Service References/ServiceRefUser/Empleados.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Empleados" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49750/Empleados.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49750/Empleados.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49750/Empleados.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Usuarios_SOAPService.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpleados_CrearEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearEmpleado" />
  </wsdl:message>
  <wsdl:message name="IEmpleados_CrearEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleados_ObtenerEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpleado" />
  </wsdl:message>
  <wsdl:message name="IEmpleados_ObtenerEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleados_ModificarEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEmpleado" />
  </wsdl:message>
  <wsdl:message name="IEmpleados_ModificarEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleados_EliminarEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEmpleado" />
  </wsdl:message>
  <wsdl:message name="IEmpleados_EliminarEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleados_ListarEmpleados_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpleados" />
  </wsdl:message>
  <wsdl:message name="IEmpleados_ListarEmpleados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpleadosResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpleados">
    <wsdl:operation name="CrearEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleados/CrearEmpleado" message="tns:IEmpleados_CrearEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleados/CrearEmpleadoResponse" message="tns:IEmpleados_CrearEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleados/ObtenerEmpleado" message="tns:IEmpleados_ObtenerEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleados/ObtenerEmpleadoResponse" message="tns:IEmpleados_ObtenerEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleados/ModificarEmpleado" message="tns:IEmpleados_ModificarEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleados/ModificarEmpleadoResponse" message="tns:IEmpleados_ModificarEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleados/EliminarEmpleado" message="tns:IEmpleados_EliminarEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleados/EliminarEmpleadoResponse" message="tns:IEmpleados_EliminarEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEmpleados">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleados/ListarEmpleados" message="tns:IEmpleados_ListarEmpleados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleados/ListarEmpleadosResponse" message="tns:IEmpleados_ListarEmpleados_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmpleados" type="tns:IEmpleados">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearEmpleado">
      <soap:operation soapAction="http://tempuri.org/IEmpleados/CrearEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpleado">
      <soap:operation soapAction="http://tempuri.org/IEmpleados/ObtenerEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarEmpleado">
      <soap:operation soapAction="http://tempuri.org/IEmpleados/ModificarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEmpleado">
      <soap:operation soapAction="http://tempuri.org/IEmpleados/EliminarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEmpleados">
      <soap:operation soapAction="http://tempuri.org/IEmpleados/ListarEmpleados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Empleados">
    <wsdl:port name="BasicHttpBinding_IEmpleados" binding="tns:BasicHttpBinding_IEmpleados">
      <soap:address location="http://localhost:49750/Empleados.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>