principal/Service References/ServiceRefUser/Empleados2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Usuarios_SOAPService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Usuarios_SOAPService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Empleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CargoEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodEmpleado" type="xs:int" />
      <xs:element minOccurs="0" name="CorreoEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoEmpleado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empleado" nillable="true" type="tns:Empleado" />
  <xs:complexType name="ArrayOfEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empleado" nillable="true" type="tns:Empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpleado" nillable="true" type="tns:ArrayOfEmpleado" />
</xs:schema>