principal/Service References/ServiceEstadoPrioridad/EstadosPrioridad1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49750/EstadosPrioridad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Usuarios_SOAPService.Dominio" />
  <xs:element name="ObtenerEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Usuarios_SOAPService.Dominio" minOccurs="0" name="ObtenerEstadoResult" nillable="true" type="q1:Estado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPrioridad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPrioridadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Usuarios_SOAPService.Dominio" minOccurs="0" name="ObtenerPrioridadResult" nillable="true" type="q2:Prioridad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>